@font-face {
    font-family: "Bowhouse";
    src: url("/fonts/Bowhouse-Regular.otf") format("opentype");
}

html {
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Consolas, monaco, monospace, Arial, Helvetica, sans-serif;
}

.circle {
    position: fixed;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
}

@supports (backdrop-filter: none) {
	.circle {
        backdrop-filter: blur(1.5rem);
        -webkit-backdrop-filter: blur(1.5rem);
	}
}

@supports not (backdrop-filter: none) {
    .circle {
        opacity: 0.9;
    }
}

.circle-1 {
    top: 0;
    left: 5%;
}

.circle-2 {
    top: 50%;
    right: 5%;
}

.circle div {
    height: 50rem;
    width: 50rem;
    background: #e0fffc;
    border-radius: 50%;
    opacity: 0.5;
}

h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h2,
h3 {
    font-family: Bowhouse, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

/* CONTENT */

img {
    height: 5rem;
}

header,
footer {
    width: 100%;
    height: 12%;
    background: #3B4555;
}

main {
    height: 76%;
    background: #B3CEF8;
    width: 100%;
    min-height: 40rem;
}

.content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 2%;
    justify-content: center;
}

section {
    z-index: 1;
    background: #fff;
    margin-top: 2rem;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 80%;
    min-height: 35rem;
}

.profile .img-container {
    height: 55%;
    width: 90%;
    margin-top: 5%;
    overflow: hidden;
}

.profile .img-container img {
    object-fit: cover;
    width: 120%;
    height: 120%;
    transform: translateX(-10%);
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    width: 90%;
}

.profile h2 {
    font-size: 2.5em;
    margin: 0;
}

.profile ul {
    list-style: circle;
    padding-left: 0.8rem;
    margin: 0;
}

.profile ul li {
    padding-bottom: 0.5rem;
}

.profile-text div {
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    font-weight: bold;
}

.profile img {
    height: 2rem;
}

.works {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 105%;
    min-height: 40rem;
}

.works-wrap {
    display: flex;
    flex-direction: column;
    gap: 4%;
    height: 100%;
    align-items: center;
}

.works h2 {
    font-size: 3.5em;
    margin: 1rem 0 0 1rem;
}

.project-card {
    display: flex;
    background-color: #fff;
    height: 29%;
    width: 90%;
    gap: 2%;
}

.project-card a {
    display: block;
    width: 60%;
    height: 98%;
    overflow: hidden;
    border: 2px solid #3B4555;
    color: #C25710;
}

.project-card a:hover {
    color: #3B4555;
}

.project-card a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-text h3{
    margin: 0;
    font-size: 2.1em;
}

.card-text p{
    margin: 0;
    line-height: 1.7em;
}

.project-card .card-text a {
    border: none;
    display: inline;
}

.card-text ul {
    list-style: circle;
    padding: 0;
    margin: 0 0 0 1rem;
}

.card-text ul li {
    margin-bottom: 0.2rem;
}

footer {
    display: flex;
}

footer div {
    font-family: Georgia, Times, Times New Roman, serif;
    color: #B3CEF8;
    align-self: center;
    margin-left: 4rem;
    font-size: 1.2em;
}

@media (min-width: 951px) {
    @keyframes maximize {
        0% {
            transform: scale(1);
        }
    
        100% {
            transform: scale(1.07);
        }
    }
    
    @keyframes minimize {
        0% {
            transform: scale(1.07);
        }
    
        100% {
            transform: scale(1);
        }
    }
}

/* MEDIA */

@media (max-width: 1465px) {
    .content {
        gap: 1%;
    }

    .profile {
        width: 30%;
        height: 80%;
        min-height: 35rem;
    } 

    .works {
        width: 66%;
    }

    .circle {
        height: 40rem;
        width: 40rem;
    }
    
    .circle-1 {
        left: 0%;
    }
    
    .circle-2 {
        right: 0%;
    }
    
    .circle div {
        height: 40rem;
        width: 40rem;
    }
}

@media (max-width: 1150px) {
    .profile {
        margin-top: 1rem;
    }

    .works {
        margin-top: 1rem;
        min-height: 45rem;
    }

    .works h2 {
        font-size: 3em;
    }

    .card-text h3 {
        font-size: 2em;
    }

    .card-text p {
        line-height: 1.5em;
    }
}

@media (max-width: 950px) {
    .content {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    header,
    footer {
        height: 10%;
    }

    footer {
        z-index: 1;
        position: relative;
    }

    main {
        height: auto;
    }

    section {
        margin-top: 1rem;
    }

    .profile {
        margin-top: -3rem;
        width: 80%;
        flex-direction: row;
        min-height: 20rem;
        gap: 2%;
    }

    .profile .img-container {
        margin: 0.5rem;
        width: 50%;
        height: 20rem;
    }

    .profile .img-container img {
        object-fit: cover;
        min-height: auto;
    }

    .profile-text {
        height: 20rem;
        width: 50%;
    } 

    .works {
        width: 80%;
        margin-bottom: 2rem;
    }

    .works h2 {
        margin: 1rem;
    }

    .works-wrap {
        height: 100rem;
        gap: 2%;
    }

    .project-card {
        flex-direction: column;
        padding: 2%;
    }

    .project-card a {
        min-width: 99.3%;
        min-height: 50%;
    }

    .card-text {
        height: 100%;
        line-height: 1.7em;
    }

    .circle {
        height: 20rem;
        width: 20rem;
    }
    
    .circle div {
        height: 20rem;
        width: 20rem;
    }

    .circle-2 {
        top: auto;
        bottom: 0;
    }

    footer div {
        margin-left: 1rem;
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .profile {
        width: 95%;
    }

    .works {
        width: 95%;
    }

    .profile h2 {
        font-size: 2em;
    }

    .works h2 {
        font-size: 3em;
    }

    .card-text h3 {
        font-size: 1.9em;
    }

    .works-wrap {
        justify-content: space-evenly;
        gap: 2%;
        height: 95rem;
    }

    .circle {
        height: 15rem;
        width: 15rem;
    }
    
    .circle div {
        height: 15rem;
        width: 15rem;
    }
}

@media (min-width: 2400px) {
    .project-card a {
        width: 60rem;
    }


    .circle {
        height: 60rem;
        width: 60rem;
    }
    
    .circle div {
        height: 60rem;
        width: 60rem;
    }

    .card-text {
        max-height: 14rem;
    }

    .card-text h3 {
        font-size: 2.5em;
    }

    .card-text p, 
    .card-text ul {
        font-size: 1.1em;
    }

    .profile-text ul,
    .profile-text div {
        font-size: 1.1em;
    }

    .profile {
        max-height: 45rem;
    }
}

